@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');

:root{
  --main-color:#00467F;
  --red:#e74c3c;
  --orange:#f39c12;
  --light-color:#a6c38e;
  --light-bg:#e2f0c4;
  --black:#1a1919;
  --white:#fff;
  --border:.1rem solid rgba(0,0,0,.2);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  scroll-behavior: smooth;
}

*::selection{
  
  color: white;
}
*::-webkit-scrollbar{
  height: .5rem;
  width: 1rem;
}
*::-webkit-scrollbar-track{
  background-color: transparent;
}
*::-webkit-scrollbar-thumb{
  background: linear-gradient(to right, #e1f6d5 40%, #5c9bcf);
}

html{
  font-size: 62.5%;
  overflow-x: hidden;
}

body{
  background: linear-gradient(to right, #e1f6d5 40%, #5c9bcf);

}
section{
  font-family: "Space Grotesk", sans-serif;
  padding: 2rem;
  max-width: auto;
  margin: 0 auto;
}

.header{
  background-color: #fbf7ef;
  border-bottom: var(--border);
  position: sticky;
  top: 0;left: 0; right: 0;
  z-index: 1000;

}
.header .flex{
  height: 60px;
  display: flex;
  align-items: center;
  justify-content:right;
  position: relative;
  padding: 10px;
}
.header .flex .logodiv{
  text-align: center;
  top: 0;
  margin: 0;
  float:left;
  padding-right: 40%;
}
.header .flex .search-form{
  width: 40rem;
  border-radius: .5rem;
  background-color:var(--light-bg);
  padding:1.5rem 2rem;
  display: flex;
  gap:1rem;

}

.header .flex .search-form input{
  width: 100%;
  /*margin-left: -200px; */
  font-size: 1.5rem;
  color:var(--black);
  background:none;
  padding-left: -100px;
}

.header .flex .search-form button{
  margin-left: -20px;
  background:none;
  font-size: 2rem;
  cursor: pointer;
  color:var(--black);
}

.header .flex .icons div{
  margin-left: -50px;
  font-size: 1.5rem;
  color:var(--black);
  background-color: var(--light-bg);
  border-radius: .5rem;
  height: 4rem;
  width: 4rem;
  line-height: 4rem;
  cursor: pointer;
  text-align: center;
  margin-left: .7rem;
}
.header .flex .icons div:hover{

  color:var(--black);
  background: linear-gradient(to right, #e1f6d5 40%, #5c9bcf);
}
#search-btn{
  display: none;
}

.div1 {
  height: 90%;
  width: 80%;
  background: #fffdfa ;
  border-radius: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -45%);
  background-color: rgba(0,0,0,.3);
  padding: 40px;
}

.title1{
  display: block;
  position: relative;
  font-size: 80px;
  width: 70%;
  color:#3d3939;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
}
b{
  color:#fbf7ef;
}